Repository juliansteenbakker/mobile_scanner, pull requests merged in 2022-09, with the labels that each got.

#275 ci: Add Codeowners
  .github/CODEOWNERS
Labels: github_actions

#274 ci: auto-assign PRs
  .github/workflows/auto-assign-pr.yml
Labels: github_actions

#231 feat: Add permission callback
  lib/src/mobile_scanner.dart
  lib/src/mobile_scanner_controller.dart
Labels: enhancement, merge conflicts

#268 fix: Add support for multiple formats on iOS
  ios/Classes/SwiftMobileScannerPlugin.swift
  lib/src/mobile_scanner_controller.dart
Labels: enhancement, ios

#279 fix: Fix the error of requestCode value range.
  android/src/main/kotlin/dev/steenbakker/mobile_scanner/MobileScanner.kt
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/kotlin/dev/steenbakker/mobile_scanner_example/MainActivity.kt
Labels: bug
