Repository juliansteenbakker/mobile_scanner, pull requests merged in 2023-07, with the labels that each got.

#640 fix: Fixes issue #634
  ios/Classes/MobileScanner.swift
Labels: ios

#670 fix(ScanImage): fix android image result is not correct format and orientation
  android/src/main/kotlin/dev/steenbakker/mobile_scanner/MobileScanner.kt
  android/src/main/kotlin/dev/steenbakker/mobile_scanner/utils/Yuv.kt
  android/src/main/kotlin/dev/steenbakker/mobile_scanner/utils/YuvToRgbConverter.kt
Labels: android

#675 fix: Respect detectionTimeout on iOS
  macos/Classes/MobileScannerPlugin.swift
Labels: ios

#677 perf: improvements to scan
  README.md
  lib/src/mobile_scanner.dart
Labels: performance
